<header class="header">
    <div class="header-container">
      <!-- Logo -->
      <div class="logo">
        <a routerLink="/">
          <img src="assets/logo.png" alt="Logo" />
        </a>
      </div>
  
      <!-- Menu Icon -->
      <div class="menu-icon" (click)="toggleMenu()">
        <img
          *ngIf="!isMenuOpen"
          src="https://firebasestorage.googleapis.com/v0/b/blogpj-t1.appspot.com/o/image%2Fmenu(1).png?alt=media&token=17063ecc-5cd3-4620-a4f2-9824b0c1a597"
          alt="Menu Icon"
          class="menu-image"
        />
        <img
          *ngIf="isMenuOpen"
          src="https://firebasestorage.googleapis.com/v0/b/blogpj-t1.appspot.com/o/image%2Fclose.png?alt=media&token=dummy-close-image"
          alt="Close Icon"
          class="menu-image"
        />
      </div>
  
      <!-- Dropdown Menu -->
      <nav class="dropdown-menu" [class.active]="isMenuOpen">
        <a routerLink="/introduce" class="menu-link">Trang chủ</a>
        <a routerLink="/card" class="menu-link">Tìm thú cưng</a>
        <a routerLink="/services" class="menu-link">Services</a>
        <a routerLink="/contact" class="menu-link">Contact</a>
      </nav>
    </div>
  </header>
  