.register-container {
    position: fixed;

  
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); 
    background-color: #f6b048;
    left: 550px;
    top: 100px;
    width: 900px;
    height: 800px;
   

    .basic-info {
        position: relative;
        background-color: transparent;
        width: 100%;

        .mat-stepper-horizontal {
      
            
            width: 100%;
            background-color: transparent;
          }
    }


        app-chip-pattern {
        width: 100%;
    }

    .detail-info {
        position: relative;
        background-color: transparent;
        width: 100%;

        .mat-stepper-vertical {
      
            
            width: 100%;
            background-color: transparent;
          }

          

          
    }

   
.button-submit {
   margin-left: 700px;
    width: 140px;
    margin-bottom: 10px;
}
   

   


    
      
     
}