<div class="register-container">
  <div class="basic-info">
    <div>Thông Tin Liên Lạc</div>
    <mat-stepper linear #stepper>
      <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Tên của bạn</ng-template>
          <mat-form-field>
            <mat-label>Tên</mat-label>
            <input
              matInput
              formControlName="firstCtrl"
              placeholder="Nguyễn Văn A"
              required
            />
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Địa chỉ của bạn</ng-template>
          <mat-form-field>
            <mat-label>Address</mat-label>
            <input
              matInput
              formControlName="secondCtrl"
              placeholder="Hẻm 98, đường Bình Dương, tỉnh Bình Thường"
              required
            />
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <div></div>

      <mat-step [stepControl]="ThirdFormGroup" [editable]="isEditable">
        <form [formGroup]="ThirdFormGroup">
          <ng-template matStepLabel>Số điện thoại của bạn</ng-template>
          <mat-form-field>
            <mat-label>phone number</mat-label>
            <input
              matInput
              type="tel"
              formControlName="thirdCtrl"
              placeholder="0981234567"
              pattern="[0-9]*"
              required
            />
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="FourthFormGroup" [editable]="isEditable">
        <form [formGroup]="FourthFormGroup">
          <ng-template matStepLabel>Email của bạn</ng-template>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input
              matInput
              formControlName="fourthCtrl"
              placeholder="email@gmail.com"
              required
            />
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Quay lại</button>
            <button mat-button matStepperNext>Tiếp</button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Xong</ng-template>
        <p>Bạn đã điền form hoàn tất</p>
        <div>
          <button mat-button matStepperPrevious>Quay lại</button>
          <button mat-button (click)="stepper.reset()">Điền lại từ đầu</button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>

  <app-chip-pattern></app-chip-pattern>

  <div class="detail-info">
    <div>Thông tin chung</div>

    <mat-stepper orientation="vertical" linear #stepper>
      <mat-step>
        <ng-template matStepLabel
          >Tại sao bạn muốn nhận nuôi thú cưng</ng-template
        >
        <div class="grid-checkbox">
          <p-checkbox label="Tôi yêu chúng" />
          <p-checkbox label="Làm bạn đồng hành với trẻ con" />

          <p-checkbox label="Canh nhà" />
          <p-checkbox label="Lý do khác" />
        </div>
        <div>
          <button mat-button matStepperNext>Tiếp</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Bạn sống ở</ng-template>
        <mat-radio-group
          [(ngModel)]="selectedOption"
          aria-label="Select an option"
        >
          <mat-radio-button value="1">Căn hộ</mat-radio-button>
          <mat-radio-button value="2">Nhà riêng</mat-radio-button>
          <mat-radio-button value="2">Khác</mat-radio-button>
        </mat-radio-group>
        <div>
          <button mat-button matStepperPrevious>Quay lại</button>
          <button mat-button matStepperNext [disabled]="!selectedOption">
            Tiếp
          </button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel
          >Nơi bạn sống thuộc quyền sở hữu của bạn ?</ng-template
        >
        <mat-radio-group
          [(ngModel)]="homeOwnership"
          aria-label="Select an option"
        >
          <mat-radio-button value="1">Đúng</mat-radio-button>
          <mat-radio-button value="2">Không</mat-radio-button>
        </mat-radio-group>
        <div>
          <button mat-button matStepperPrevious>Quay lại</button>
          <button mat-button matStepperNext [disabled]="!homeOwnership">
            Tiếp
          </button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Hoàn tất</ng-template>
        <p>Hoàn tất.</p>
        <div>
          <button mat-button matStepperPrevious>Quay lại</button>
          <button mat-button (click)="stepper.reset()">Đièn lại từ đầu</button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>

  <button class="button-submit" mat-fab extended [disabled]="false">
    Xác nhận
    <mat-icon svgIcon="thumbs-up">✅️</mat-icon>
  </button>
</div>
